<div class="container-fluid m-4">
  <div class="flex">
    <img
      src="https://media.istockphoto.com/vectors/user-profile-icon-flat-red-round-button-vector-illustration-vector-id1162440985?k=20&m=1162440985&s=170667a&w=0&h=cQJ5HDdUKK_8nNDd_6RBoeDQfILERZnd_EirHTi7acI="
      style="width: 140px; height: 130px; border-radius: 60%"
    />
    <h3>Admin Login</h3>
  </div>

  <h3 style="color: rgba(255, 0, 0, 0.884)">Blood Donation App</h3>
  <form
    style="width: 300px; margin-left: 450px; margin-top: 150px"
    #userForm="ngForm"
    (ngSubmit)="userForm.form.valid && onSubmit(userForm)"
  >
    <p *ngIf="showerror" style="color: red">Please Enter Correct Credentials</p>
    <div class="form-group">
      <label>Name</label>
      <input
        type="text"
        name="name"
        class="form-control"
        [(ngModel)]="model.name"
        #name="ngModel"
        [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }"
        required
      />
      <div class="invalid-feedback" *ngIf="userForm.submitted && name.invalid">
        <p *ngIf="name.errors">Name is required</p>
      </div>
    </div>
    <br />

    <div class="form-group">
      <label>Password </label>
      <input
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="model.password"
        #password="ngModel"
        [ngClass]="{ 'is-invalid': userForm.submitted && password.invalid }"
        required
      />
      <div
        *ngIf="userForm.submitted && password.invalid"
        class="invalid-feedback"
      >
        <div *ngIf="password.errors">Password is required</div>
      </div>
    </div>
    <br />

    <div class="form-group">
      <button [disabled]="userForm.invalid" class="btn btn-danger btn-block">
        Login
      </button>
    </div>
  </form>
</div>
